# Introduction to Basic Python

In [ ]:
#Importing libraries

#install pip in conda
#!conda install pip
import pandas as pd, numpy as np

## 1. Indentation
Python uses indentation for if-else statement, looping statement, so forth.
Other programming languages usually use bracket

In [ ]:
#assign a number into variable
test = 80

#check the score
if test < 70:
    print('This student did not pass the course')
elif test > 70 :
    print('This student passed the course')

# 2. Variables and types
On Python, we do not need to declare variables, just directly assign the data into a variable

In [ ]:
#define an integer
weight = 65
print(weight)

#define a string - can use '' or "", it does not matter
staff_name = 'Christina'
print(staff_name)

#define a float
exam_score = 87.50
print(exam_score)

In [ ]:
#define several variables simultaneously
seller, buyer = 'Adi', 'Agil'
print('%s has bought a bag from %s' % (buyer, seller))

## Exercise

In [ ]:
#define several variables
customer = 'Callum'
height = 178.394509
age = 39

#print the customer name, height and age in one line, 
#give 2 numbers after full stop on height variable
#format print: customer name is henny, height: 178.05 cm and age: 39

# 3. Lists
Python has many types of storing data. One of the popular ways to saving it is list

In [ ]:
#create a list for 5 employees (same data type)
employees = ['Abigail', 'Bianca', 'Charlie', 
            'Dorothy', 'Erica']

print(employees[0])
print(len(employees))

In [ ]:
#add data into the existing list
employees.append('Mikhail')
print(employees)

In [ ]:
#create a matrix, one array can be stored multiple data type
matrix = [['Abigail', 100059540, 30],
         ['Bianca', 12036564, 40],
         ['Charlie', 93465650, 45],
         ['Dorothy', 376170, 50],
         ['Erica', 7657120, 35]]

print(matrix[1])
print(matrix[2][2])
print(len(matrix))

## Exercise

In [ ]:
#create a list of 6 customers


#print Andry from customer array 


#print Donny from customer array

In [ ]:
#create a matrix, one array can be stored multiple data type
#this matrix consist of customer name, salary and age
matrix = [['Brian', 100059540, 20],
         ['Dian', 12036564, 28],
         ['Kristin', 93465650, 25],
         ['Donny', 376170, 30],
         ['Andry', 7657120, 23],
         ['Stella', 3452343, 29]]

#print Andry's detail


#print Stella's age

# 4. Conditions
Python employs boolean variables to evaluate the given conditions.

In [ ]:
shoes = 250000
if shoes < 500000 and shoes > 100000:
    print('Shoes price is between 100.000 and 500.000')

## Exercise

In [ ]:
#create a program that groups a student into type of education level with these rules
#elementary: age from 6 - 12
#junior_hs: age from 12 - 15
#high_school: age from 15 - 18
#university: age from 18 - 22

Ano = 19

#put your code here

# 5. Looping
Python has function to loop iterate over a given sequence with 'for' and 'while'

In [ ]:
#create a list with 5 staffs
staffs = ['Adi', 'Agil', 'Henny', 'Ano', 'Hengky']

#print all the staff
for index, staff in enumerate(staffs):
    print('Staff %d : %s' % (index+1, staff))

## Exercise

In [ ]:
#add one variable
debts = [5430340.405, 30345.034, 93445.344, 245454.453, 842555.533]

#print the staff name from staffs variable and with their debts (with 2 numbers after full stop)
#example staff 1 : Adi has debt 5430340.40

# 6. Function
Instead of write the same code many times.
Code is used several times, can be created into function.

In [ ]:
#define a function that calculates total salary
def print_total_salary(employee_number, salary):
    total = employee_number * salary
    print(total)

print_total_salary(10, 4000000)

In [ ]:
#define a function that calculates total salary
def calculate_total_salary(employee_number, salary):
    total = employee_number * salary
    return total

#with return, we can store the result into a variable
#therefore, we can recall it 
total_salary = calculate_total_salary(10, 4000000)
total_expense = total_salary + (0.2 * total_salary)
print(total_expense)

## Exercise

In [ ]:
#create a function that calculate total price
#food = 60000, drink = 20000, ppn = 10%, service charge = 5%
#store the result into a variable
#print the result

# 7. Pandas

In [ ]:
#import the library
import pandas as pd

'''
The previous matrix
matrix = [['Brian', 100059540, 20],
         ['Dian', 12036564, 10],
         ['Kristin', 93465650, 15],
         ['Donny', 376170, 10],
         ['Andry', 7657120, 25],
         ['Stella', 3452343, 34]]
'''

#create dataframe from array with the labels
df = pd.DataFrame.from_records(matrix, columns=['staff', 'debt', 'age'])
df

In [ ]:
#print one of the column - series 
df['staff']

In [ ]:
#print several columns - dataframe
df[['staff', 'age']]

In [ ]:
#add some variables
cities = ['Jakarta', 'Bandung', 'Jakarta', 'Bali', 'Semarang', 'Jakarta']
years = [2010, 2009, 1992, 2014, 2000, 2005]

#add the variables into existing dataframe
df['city'] = pd.Series(cities)
df['year'] = pd.Series(years)

df

In [ ]:
#add new column by manipulating two existing columns
df['age_year'] = df['age'] + df['year']

In [ ]:
#delete the age_year column, inplace for delete permanently
df.drop('age_year', axis = 1, inplace = True)

In [ ]:
#delete the third row (Dorothy)
df.drop(3, axis = 0, inplace = True)

In [ ]:
#query data 
df.loc[(df['year'] >= 2009) & (df['year'] <= 2010)]

In [ ]:
#group by
df.groupby('city').mean()['age']

In [ ]:
#find the unique values
df['city'].unique()

## Exercise

In [ ]:
#add salaries variable into to the existing dataframe
# the new column named salary

salaries = [335434050, 345349534, 69565444, 50358545]

In [ ]:
#create new column named total_salary 
#calculates total_salary by multiplying age * salary

In [ ]:
#show only staff, age and total_salary for all staff

In [ ]:
#select staff who is located in jakarta and year between 1990 and 2019